<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script></head>
<title>Robot</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


<body>
<div class=page>
  <h1>Program Your Bot</h1>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
a

  {% endfor %}
  {% block body %}{% endblock %}
</div>
  <div class="container">

  <!--panels-->
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row" id="tricks"> 
        <div class = "col-md-3"> 
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Straight Line</h3>
              <img src="https://dl.dropboxusercontent.com/s/zoinlqqe31ox0by/Straight_line_bot.jpg" class="img-rounded" alt="image" height="150" width="150">
              <p>Build the Straigh Line Code</p>
              <!-- Standard button -->
              <a class="btn btn-default" href="straight.html">Go</a>
            </div>
          </div> <!--panel-default-->
        </div> <!--col-md-3-->
        <div class = "col-md-3"> 
          <div class="panel panel-default">
            <div class="panel-body">
                <h3>Square</h3>
              <img src="https://dl.dropboxusercontent.com/s/n9cjthu8r1pczmc/square_bot.jpg" class="img-rounded" alt="image" height="150" width="150">
              <p>Build the Square Code</p>
              <!-- Standard button -->
              <a class="btn btn-default" href="square.html">Go</a>
            </div>  
          </div> <!--panel-default-->
        </div> <!--col-md-3-->
        <div class = "col-md-3"> 
          <div class="panel panel-default">
            <div class="panel-body">
                 <h3>Trick</h3>
              <img src="https://dl.dropboxusercontent.com/s/w6xel2hquavnbe9/star_image_less_awesome_bot.jpg" class="img-rounded" alt="image" height="150" width="150">
              <p></p>
              <!-- Standard button -->
              <button type="button" class="btn btn-default">Go</button>
            </div>  
          </div> <!--panel-default-->
        </div> <!--col-md-3-->
        <div class = "col-md-3"> 
          <div class="panel panel-default">
            <div class="panel-body">
                 <h3>Hexagon</h3>
              <img src="https://dl.dropboxusercontent.com/s/z0rkj4t6yuyks9y/hexagon_bot.jpg" class="img-rounded" alt="image" height="150" width="150">
              <p></p>
              <!-- Standard button -->
              <button type="button" class="btn btn-default">Go</button>
            </div>  
          </div> <!--panel-default-->
        </div> <!--col-md-3-->
        <div class = "col-md-3"> 
          <div class="panel panel-default">
            <div class="panel-body">
                 <h3>Super Trick</h3>
              <img src="https://dl.dropboxusercontent.com/s/ldmf4k438j3914g/star_image_bot.jpg" class="img-rounded" alt="image" height="150" width="150">
              <p></p>
              <!-- Standard button -->
              <button type="button" class="btn btn-default">Go</button>
            </div>  
          </div> <!--panel-default-->
        </div> <!--col-md-3-->
      </div> <!--resume items-->
    </div> <!--Panel Body-->
  </div> <!--Panel Default-->
</div>
</body>
</html>

